#window {
	background-color: rgba(240, 248, 255, 0.089);
}

#outer-box {
	margin: 20;
	background-color: transparent;


}

#entry {
	padding: 4;
	margin: 20;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.445);
} 

